/materialPytorch/venv
/DeepLearningLLMs/TrabalhoFinal/.venv
/EsofInteligente/venv
/Estudos/venv
/TrabalhoLLMs/.venv
/DeepLearningLLMs/TrabalhoFinal/.venv
/DeepLearningLLMs/TrabalhoFinal/.venv
/DeepLearningLLMs/Otimizador/venv
/Mineracao/venv
/TrabalhoLLMs/venv
/DeepLearningLLMs/TrabalhoFinal/venv
